aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
attrs==26.1.0
bambulabs_api==2.6.6
certifi==2026.7.22
charset-normalizer==3.5.1
discord==2.3.2
discord.py==2.7.1
frozenlist==1.8.0
idna==3.20
multidict==6.9.1
numpy==2.5.3
opencv-python==5.0.0.93
paho-mqtt==2.1.0
pillow==12.3.0
propcache==0.5.4
requests==2.34.2
typing_extensions==4.16.0
urllib3==2.8.0
yarl==1.25.1
